.album-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .album {
    width: 30%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .album h3 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .album img {
    width: 100%;
    height: auto;
  }
  